[phases.setup]
nixPkgs = ["python311"]

[phases.build]
cmds = ["pip install -r backend/requirements.txt"]

[start]
cmd = "cd backend && gunicorn main:app -w 1 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT"
